body{
    background-color: #d986ff;    
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 2rem;
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    box-shadow: 6px 8px 15px rgb(0, 0, 0);
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: #fff;
}
.userflash{
    background-color: green;
}